In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/python-dataset-for-dsa-questions/cleaned_flytec.csv
/kaggle/input/cleaned-datasets-of-alpaca/new version.csv
/kaggle/input/taco-cleaned/taco_cleaned.csv
/kaggle/input/leetcode-with-desciption-and-code/leetcode_with_description_and_code.csv

In [17]:
df1 = pd.read_csv("/kaggle/input/taco-cleaned/taco_cleaned.csv")
df2 = pd.read_csv("/kaggle/input/cleaned-datasets-of-alpaca/new version.csv")
df3 = pd.read_csv("/kaggle/input/python-dataset-for-dsa-questions/cleaned_flytec.csv")
df4 = pd.read_csv("/kaggle/input/leetcode-with-desciption-and-code/leetcode_with_description_and_code.csv")

In [18]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1205 non-null   int64
 1   id                 1205 non-null   int64
 2   title              1205 non-null   object
 3   description        1205 non-null   object
 4   is_premium         1205 non-null   int64
 5   difficulty         1205 non-null   object
 6   solution_link      733 non-null    object
 7   acceptance_rate    1205 non-null   float64
 8   frequency          1205 non-null   float64
 9   url                1205 non-null   object
 10  discuss_count      1205 non-null   int64
 11  accepted           1205 non-null   object
 12  submissions        1205 non-null   object
 13  companies          1167 non-null   object
 14  related_topics     1144 non-null   object
 15  likes              1205 non-null   int64
 16  dislikes           1205 non-null   int64
 17  rating             1205 non-null   int64
 18  asked_by_faang     1205 non-null   int64
 19  similar_questions  543 non-null    object
 20  code               1205 non-null   object
dtypes: float64(2), int64(8), object(11)
memory usage: 197.8+ KB

In [19]:
df4.head()

,Unnamed: 0,id,title,description,is_premium,difficulty,solution_link,acceptance_rate,frequency,url,...,accepted,submissions,companies,related_topics,likes,dislikes,rating,asked_by_faang,similar_questions,code
0,0,1,Two Sum,Given an array of integers `nums` and an integ...,0,Easy,/articles/two-sum,46.7,100.0,https://leetcode.com/problems/two-sum,...,4.1M,8.7M,"Amazon,Google,Apple,Adobe,Microsoft,Bloomberg,...","Array,Hash Table",20217,712,97,1,"[3Sum, /problems/3sum/, Medium], [4Sum, /probl...","class Solution:\n def twoSum(self, nums: Li..."
1,1,2,Add Two Numbers,You are given two non-empty linked lists repre...,0,Medium,/articles/add-two-numbers,35.7,93.1,https://leetcode.com/problems/add-two-numbers,...,1.9M,5.2M,"Bloomberg,Microsoft,Amazon,Google,Facebook,App...","Linked List,Math,Recursion",11350,2704,81,1,"[Multiply Strings, /problems/multiply-strings/...",# Definition for singly-linked list.\n# class ...
2,2,3,Longest Substring Without Repeating Characters,"Given a string `s`, find the length of the lon...",0,Medium,/articles/longest-substring-without-repeating-...,31.5,90.9,https://leetcode.com/problems/longest-substrin...,...,2.1M,6.7M,"Amazon,Bloomberg,Microsoft,Facebook,Apple,Adob...","Hash Table,Two Pointers,String,Sliding Window",13810,714,95,1,[Longest Substring with At Most Two Distinct C...,from collections import Counter\n\nclass Solut...
3,3,4,Median of Two Sorted Arrays,Given two sorted arrays `nums1` and `nums2` of...,0,Hard,/articles/median-of-two-sorted-arrays,31.4,86.2,https://leetcode.com/problems/median-of-two-so...,...,904.7K,2.9M,"Amazon,Goldman Sachs,Facebook,Microsoft,Apple,...","Array,Binary Search,Divide and Conquer",9665,1486,87,1,NaN,class Solution:\n def findMedianSortedArray...
4,4,5,Longest Palindromic Substring,"Given a string `s`, return the longest palindr...",0,Medium,/articles/longest-palindromic-substring,30.6,84.7,https://leetcode.com/problems/longest-palindro...,...,1.3M,4.1M,"Amazon,Microsoft,Wayfair,Facebook,Adobe,eBay,G...","String,Dynamic Programming",10271,670,94,1,"[Shortest Palindrome, /problems/shortest-palin...",class Solution:\n def longestPalindrome(sel...

In [20]:
df4 = df4[['description','code']]

In [21]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  1205 non-null   object
 1   code         1205 non-null   object
dtypes: object(2)
memory usage: 19.0+ KB

In [22]:
df4 = df4.iloc[175:]

In [23]:
df4.head()

,description,code
175,"A trie (pronounced as ""try"") or prefix tree is...",class Node:\n def __init__(self):\n ...
176,Given an array of positive integers `nums` and...,"class Solution:\n def minSubArrayLen(self, ..."
177,There are a total of `n` courses you have to t...,"class Solution:\n def topologicalSort(self,..."
178,Design a data structure that supports adding n...,"class Node:\n def __init__(self, val=None, ..."
179,Given an `m x n` `board` of characters and a l...,class Node:\n def __init__(self):\n self.c...

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11926 entries, 0 to 11925
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          11926 non-null  int64
 1   instruction         11926 non-null  object
 2   input               8757 non-null   object
 3   output              11926 non-null  object
 4   prompt              11926 non-null  object
 5   classification_raw  11926 non-null  object
 6   category            11926 non-null  object
dtypes: int64(1), object(6)
memory usage: 652.3+ KB

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20493 entries, 0 to 20492
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   question    20493 non-null  object
 1   solutions   20493 non-null  object
 2   difficulty  20493 non-null  object
 3   tags        20493 non-null  object
dtypes: object(4)
memory usage: 640.5+ KB

In [26]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9617 entries, 0 to 9616
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   instruction  9617 non-null   object
 1   code         9617 non-null   object
 2   category     9617 non-null   object
dtypes: object(3)
memory usage: 225.5+ KB

In [27]:
df3 = df3[['instruction','code']]

In [28]:
df2.head()

,Unnamed: 0,instruction,input,output,prompt,classification_raw,category
0,0,Create a function to calculate the sum of a se...,"[1, 2, 3, 4, 5]",# Python code\ndef sum_sequence(sequence):\n ...,Below is an instruction that describes a task....,Sorting,Sorting
1,3,Generate a python script to perform this action.,"Given a string, remove all the consecutive dup...",def remove_duplicates(string): \n result = ...,Below is an instruction that describes a task....,Sorting,Sorting
2,4,Write a python script to generates random numb...,NaN,def generate_random_divisible_number():\n i...,Below is an instruction that describes a task....,Sorting,Sorting
3,5,Write a Python code to get the third largest e...,"[12, 13, 13, 45, 22, 99]",def third_largest(lst):\n if len(lst) < 3:\...,Below is an instruction that describes a task....,Sorting,Sorting
4,7,Create a Python function that takes in a strin...,"'This is a test', ['test', 'this', 'is']","def contains_words(input_string, words):\n for...",Below is an instruction that describes a task....,searching,searching

In [29]:
df2 = df2[['instruction','output']]

In [30]:
df1.head()

,question,solutions,difficulty,tags
0,The city park of IT City contains n east to we...,n = int(input())\ncn5 = n * (n - 1) // 2 * (n ...,MEDIUM,"['Combinatorics', 'Mathematics']"
1,Zookeeper is buying a carton of fruit to feed ...,"hist = [0] * 1000005\n\ndef solve(n, s):\n\tto...",VERY_HARD,"['Sorting', 'Amortized analysis', 'Dynamic pro..."
2,Sasha and Kolya decided to get drunk with Coke...,from collections import deque\nMAX_A = 1000\n\...,HARD,"['Graph algorithms', 'Graph traversal', 'Short..."
3,"Read problem statements in [Hindi], [Bengali],...","p = 10 ** 9 + 7\n\ndef power(a, n):\n\tres = 1...",MEDIUM_HARD,"['Combinatorics', 'Mathematics']"
4,"I started this as a joke among friends, tellin...",from math import *\nDIGS = '0123456789ABCDEFGH...,MEDIUM_HARD,"['Fundamentals', 'Mathematics']"

In [31]:
df1 = df1[['question','solutions']]

In [32]:
print(df1.info(),df2.info(),df3.info(),df4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20493 entries, 0 to 20492
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   question   20493 non-null  object
 1   solutions  20493 non-null  object
dtypes: object(2)
memory usage: 320.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11926 entries, 0 to 11925
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   instruction  11926 non-null  object
 1   output       11926 non-null  object
dtypes: object(2)
memory usage: 186.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9617 entries, 0 to 9616
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   instruction  9617 non-null   object
 1   code         9617 non-null   object
dtypes: object(2)
memory usage: 150.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 175 to 1204
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  1030 non-null   object
 1   code         1030 non-null   object
dtypes: object(2)
memory usage: 16.2+ KB
None None None None

In [ ]:
df1 = df1.rename(columns={'question': 'instruction', 'solutions': 'code'})
df2 = df2.rename(columns={'instruction': 'instruction', 'output': 'code'})
df4 = df4.rename(columns={'description':'instruction','code':'code'})

In [46]:
combined_df = pd.concat([df1, df2, df3,df4], ignore_index=True)

In [47]:
combined_df.head()

,instruction,code
0,The city park of IT City contains n east to we...,n = int(input())\ncn5 = n * (n - 1) // 2 * (n ...
1,Zookeeper is buying a carton of fruit to feed ...,"hist = [0] * 1000005\n\ndef solve(n, s):\n\tto..."
2,Sasha and Kolya decided to get drunk with Coke...,from collections import deque\nMAX_A = 1000\n\...
3,"Read problem statements in [Hindi], [Bengali],...","p = 10 ** 9 + 7\n\ndef power(a, n):\n\tres = 1..."
4,"I started this as a joke among friends, tellin...",from math import *\nDIGS = '0123456789ABCDEFGH...

In [48]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43066 entries, 0 to 43065
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   instruction  43066 non-null  object
 1   code         43066 non-null  object
dtypes: object(2)
memory usage: 673.0+ KB

In [49]:
def complexity_filter(df, text_col='code', min_words=7, max_repeat_ratio=0.6):
    df = df[df[text_col].str.split().str.len() > min_words]
    def repetition_ratio(text):
        words = text.split()
        return 1.0 - (len(set(words)) / len(words)) if len(words) > 0 else 0
    df = df[df[text_col].apply(repetition_ratio) < max_repeat_ratio]
    return df

combined_df = complexity_filter(combined_df)

In [50]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39823 entries, 1 to 43065
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   instruction  39823 non-null  object
 1   code         39823 non-null  object
dtypes: object(2)
memory usage: 933.4+ KB

In [51]:
from sentence_transformers import SentenceTransformer
from sklearn.cluster import MiniBatchKMeans
import numpy as np

def diversity_sampling(df, text_col='instruction', num_clusters=21000):
    model = SentenceTransformer('all-MiniLM-L6-v2')
    embeddings = model.encode(
        df[text_col].tolist(),
        show_progress_bar=True,
        normalize_embeddings=True
    )

    kmeans = MiniBatchKMeans(
        n_clusters=num_clusters,
        batch_size=1024,
        random_state=42
    )
    
    clusters = kmeans.fit_predict(embeddings)
    df['cluster'] = clusters

    # Compute distance to centroid
    distances = np.linalg.norm(
        embeddings - kmeans.cluster_centers_[clusters],
        axis=1
    )

    df['distance'] = distances
    print(df['distance'].describe())
    curated_df = df.loc[df.groupby('cluster')['distance'].idxmin()]

    return curated_df.drop(columns=['cluster', 'distance'])
combined_df = diversity_sampling(combined_df)

Batches:   0%|          | 0/1245 [00:00<?, ?it/s]

count    39823.000000
mean         0.263143
std          0.287182
min          0.000000
25%          0.000000
50%          0.188908
75%          0.498674
max          1.121967
Name: distance, dtype: float64

In [52]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18596 entries, 34038 to 33383
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   instruction  18596 non-null  object
 1   code         18596 non-null  object
dtypes: object(2)
memory usage: 435.8+ KB

In [54]:
shuffled_df = combined_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [55]:
shuffled_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18596 entries, 0 to 18595
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   instruction  18596 non-null  object
 1   code         18596 non-null  object
dtypes: object(2)
memory usage: 290.7+ KB

In [56]:
train = shuffled_df.iloc[0:16736]

In [57]:
test = shuffled_df.iloc[16736:]

In [58]:
test.head()

,instruction,code
16736,Create a Python function which takes a string ...,def word_freq(s):\n \n # Create an empty dicti...
16737,Create a Python function to remove all the ele...,"def remove_greater_than(arr, value):\n new_..."
16738,Optimize the following code using functional p...,def add_odds(list):\n odd_list = filter(lambd...
16739,List the mounted file systems,```python\nimport os\nmounted_file_systems = o...
16740,Provide a solution using Python to capitalize ...,```python\ndef capitalize(phrase):\n words = ...

In [59]:
import json

SYSTEM_PROMPT = """You are an expert Python programmer. Your task is to generate correct, efficient Python code.
- Write only the function implementation
- Do not include markdown code blocks
- Do not include explanations
- The code must be syntactically correct
- There must be proper indentation.
- always enclose code only between ``` and ```
- Do not reason
- Do not give any examples
"""

def format_llama(inst, code):
    return (
        "<s>[INST] <<SYS>>\n"
        f"{SYSTEM_PROMPT}\n"
        "<</SYS>>\n"
        f"{inst} [/INST] ```\n{code}``` </s>"
    )
with open("train.jsonl", "w", encoding="utf-8") as f:
    for _, row in train.iterrows():
        formatted_text = format_llama(
            str(row["instruction"]),
            str(row["code"])
        )
        obj = {"text": formatted_text}
        f.write(json.dumps(obj, ensure_ascii=False) + "\n")

print("JSONL file created: train.jsonl")

JSONL file created: train.jsonl

In [60]:
import json

SYSTEM_PROMPT = """You are an expert Python programmer. Your task is to generate correct, efficient Python code.
- Write only the function implementation
- Do not include markdown code blocks
- Do not include explanations
- The code must be syntactically correct
- There must be proper indentation.
- always enclose code only between ``` and ```
- Do not reason
- Do not give any examples
"""

def format_llama(inst, code):
    return (
        "<s>[INST] <<SYS>>\n"
        f"{SYSTEM_PROMPT}\n"
        "<</SYS>>\n"
        f"{inst} [/INST] ```\n{code}``` </s>"
    )

with open("test.jsonl", "w", encoding="utf-8") as f:
    for _, row in test.iterrows():
        formatted_text = format_llama(
            str(row["instruction"]),
            str(row["code"])
        )
        obj = {"text": formatted_text}
        f.write(json.dumps(obj, ensure_ascii=False) + "\n")

print("JSONL file created: test.jsonl")

JSONL file created: test.jsonl