In [73]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/taco-cleaned/taco_cleaned.csv
/kaggle/input/alpaca-datasets-specific-competetive-datasets/cleaned_data_2.numbers
/kaggle/input/cleaned-datasets-of-alpaca/cleaned_data_2.csv
/kaggle/input/leetcode-with-desciption-and-code/leetcode_with_description_and_code.csv

In [37]:
df1 = pd.read_csv("/kaggle/input/taco-cleaned/taco_cleaned.csv")
df2 = pd.read_csv("/kaggle/input/cleaned-datasets-of-alpaca/cleaned_data_2.csv")
df3 = pd.read_csv("/kaggle/input/leetcode-with-desciption-and-code/leetcode_with_description_and_code.csv")

In [38]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1205 non-null   int64
 1   id                 1205 non-null   int64
 2   title              1205 non-null   object
 3   description        1205 non-null   object
 4   is_premium         1205 non-null   int64
 5   difficulty         1205 non-null   object
 6   solution_link      733 non-null    object
 7   acceptance_rate    1205 non-null   float64
 8   frequency          1205 non-null   float64
 9   url                1205 non-null   object
 10  discuss_count      1205 non-null   int64
 11  accepted           1205 non-null   object
 12  submissions        1205 non-null   object
 13  companies          1167 non-null   object
 14  related_topics     1144 non-null   object
 15  likes              1205 non-null   int64
 16  dislikes           1205 non-null   int64
 17  rating             1205 non-null   int64
 18  asked_by_faang     1205 non-null   int64
 19  similar_questions  543 non-null    object
 20  code               1205 non-null   object
dtypes: float64(2), int64(8), object(11)
memory usage: 197.8+ KB

In [39]:
df3 = df3.iloc[200:1201]

In [40]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 200 to 1200
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1001 non-null   int64
 1   id                 1001 non-null   int64
 2   title              1001 non-null   object
 3   description        1001 non-null   object
 4   is_premium         1001 non-null   int64
 5   difficulty         1001 non-null   object
 6   solution_link      546 non-null    object
 7   acceptance_rate    1001 non-null   float64
 8   frequency          1001 non-null   float64
 9   url                1001 non-null   object
 10  discuss_count      1001 non-null   int64
 11  accepted           1001 non-null   object
 12  submissions        1001 non-null   object
 13  companies          964 non-null    object
 14  related_topics     941 non-null    object
 15  likes              1001 non-null   int64
 16  dislikes           1001 non-null   int64
 17  rating             1001 non-null   int64
 18  asked_by_faang     1001 non-null   int64
 19  similar_questions  368 non-null    object
 20  code               1001 non-null   object
dtypes: float64(2), int64(8), object(11)
memory usage: 164.4+ KB

In [41]:
df3 = df3[['description', 'code']]

In [42]:
df2 = df2.iloc[:5000]

In [43]:
df2.head()

,Unnamed: 0,instruction,input,output,prompt,classification_raw,category
0,0,Create a function to calculate the sum of a se...,"[1, 2, 3, 4, 5]",# Python code\ndef sum_sequence(sequence):\n ...,Below is an instruction that describes a task....,Sorting,Sorting
1,2,Create a Python list comprehension to get the ...,NaN,"[x*x for x in [1, 2, 3, 5, 8, 13]]",Below is an instruction that describes a task....,Sorting,Sorting
2,3,Generate a python script to perform this action.,"Given a string, remove all the consecutive dup...",def remove_duplicates(string): \n result = ...,Below is an instruction that describes a task....,Sorting,Sorting
3,4,Write a python script to generates random numb...,NaN,def generate_random_divisible_number():\n i...,Below is an instruction that describes a task....,Sorting,Sorting
4,5,Write a Python code to get the third largest e...,"[12, 13, 13, 45, 22, 99]",def third_largest(lst):\n if len(lst) < 3:\...,Below is an instruction that describes a task....,Sorting,Sorting

In [44]:
df2 = df2[['instruction','output']]

In [45]:
df1 = df1.iloc[:19000]

In [46]:
df1.head()

,question,solutions,difficulty,tags
0,The city park of IT City contains n east to we...,n = int(input())\ncn5 = n * (n - 1) // 2 * (n ...,MEDIUM,"['Combinatorics', 'Mathematics']"
1,Zookeeper is buying a carton of fruit to feed ...,"hist = [0] * 1000005\n\ndef solve(n, s):\n\tto...",VERY_HARD,"['Sorting', 'Amortized analysis', 'Dynamic pro..."
2,Sasha and Kolya decided to get drunk with Coke...,from collections import deque\nMAX_A = 1000\n\...,HARD,"['Graph algorithms', 'Graph traversal', 'Short..."
3,"Read problem statements in [Hindi], [Bengali],...","p = 10 ** 9 + 7\n\ndef power(a, n):\n\tres = 1...",MEDIUM_HARD,"['Combinatorics', 'Mathematics']"
4,"I started this as a joke among friends, tellin...",from math import *\nDIGS = '0123456789ABCDEFGH...,MEDIUM_HARD,"['Fundamentals', 'Mathematics']"

In [47]:
df1 = df1[['question','solutions']]

In [48]:
df1 = df1.rename(columns={'question': 'instruction', 'solutions': 'code'})
df2 = df2.rename(columns={'instruction': 'instruction', 'output': 'code'})
df3 = df3.rename(columns={'description': 'instruction', 'code': 'code'})

In [49]:
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

In [50]:
combined_df.head()

,instruction,code
0,The city park of IT City contains n east to we...,n = int(input())\ncn5 = n * (n - 1) // 2 * (n ...
1,Zookeeper is buying a carton of fruit to feed ...,"hist = [0] * 1000005\n\ndef solve(n, s):\n\tto..."
2,Sasha and Kolya decided to get drunk with Coke...,from collections import deque\nMAX_A = 1000\n\...
3,"Read problem statements in [Hindi], [Bengali],...","p = 10 ** 9 + 7\n\ndef power(a, n):\n\tres = 1..."
4,"I started this as a joke among friends, tellin...",from math import *\nDIGS = '0123456789ABCDEFGH...

In [51]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25001 entries, 0 to 25000
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   instruction  25001 non-null  object
 1   code         25001 non-null  object
dtypes: object(2)
memory usage: 390.8+ KB

In [53]:
shuffled_df = combined_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [54]:
train = shuffled_df.iloc[0:18000]

In [55]:
validation = shuffled_df.iloc[18000:21500]

In [56]:
test = shuffled_df.iloc[21500:]

In [70]:
test.head()

,instruction,code
21500,William has a favorite bracket sequence. Since...,"from os import path\nfrom io import BytesIO, I..."
21501,"You are given an array [A_{1}, \ldots, A_{N}]....",t = int(input())\nwhile t > 0:\n\tt -= 1\n\tn ...
21502,Write a program to calculate values of arithme...,"OVER = 10000\n\ndef factor():\n\tglobal w, pos..."
21503,Manasa is a student in the department of Mathe...,P = 10 ** 9 + 7\nn = int(input())\ndata = [map...
21504,"Read problems statements in Mandarin chinese, ...",def f(h):\n\tif h == 1:\n\t\treturn 1\n\telif ...

In [60]:
import json  # <- this was missing

# Write to JSONL
with open("train.jsonl", "w", encoding="utf-8") as f:
    for _, row in train.iterrows():
        obj = {
            "instruction": str(row['instruction']),
            "code": str(row['code'])
        }
        f.write(json.dumps(obj, ensure_ascii=False) + "\n")

print("JSONL file created: train.jsonl")

JSONL file created: train.jsonl

In [61]:
import json  # <- this was missing

# Write to JSONL
with open("validation.jsonl", "w", encoding="utf-8") as f:
    for _, row in validation.iterrows():
        obj = {
            "instruction": str(row['instruction']),
            "code": str(row['code'])
        }
        f.write(json.dumps(obj, ensure_ascii=False) + "\n")

print("JSONL file created: validation.jsonl")

JSONL file created: validation.jsonl

In [64]:
import json  # <- this was missing

# Write to JSONL
with open("test.jsonl", "w", encoding="utf-8") as f:
    for _, row in test.iterrows():
        obj = {
            "instruction": str(row['instruction']),
            "code": str(row['code'])
        }
        f.write(json.dumps(obj, ensure_ascii=False) + "\n")

print("JSONL file created: test.jsonl")

JSONL file created: test.jsonl

In [66]:
df = pd.read_json("/kaggle/working/test.jsonl", lines=True)

In [72]:
test.to_json("view.json")